@model ComicCorner.Models.Category

@{
    ViewBag.Title = "Update";
}

<h2>Update information about @Model.CategoryName</h2>
<div class="flexbox">
    <div class="picture">
        @{
            if (Model.HasPic == 1)
            {
                <img src="../../Content/Categories/@(Model.CategoryId).@(Model.PicExtension)" alt="Image of @Model.CategoryName" />
            }
        }
    </div>
    <div class="content">
        <form class="updateform" method="post" action="/Category/Update/@Model.CategoryId" enctype="multipart/form-data">
            <input type="hidden" name="CategoryId" id="CategoryId" value="@Model.CategoryId" />
            <div>Category Name: <input type="text" name="CategoryName" id="CategoryName" value="@Model.CategoryName" /></div>
            <div>Description: <textarea type="text" name="CategoryDesc" id="CategoryDesc">@Model.CategoryDesc"</textarea></div>
            <div class="imageupload"><span>Image: </span> <input type="file" name="CategoryPic" id="CategoryPic" /></div>
            <input type="submit" value="Update the category" />
        </form>
    </div>

</div>
   

