@model ComicCorner.Models.ViewModels.ShowComic

@{
    ViewBag.Title = "Show";
}

<h2>@Model.Comic.ComicName</h2>
<div class="flexbox">
    <div id="ShowComicDetail">
        <div class="flexbox">
            <div class="picture">
                @{
                    if (Model.Comic.HasPic == 1)
                    {
                        <img src="../../Content/Comics/@(Model.Comic.ComicId).@(Model.Comic.PicExtension)" alt="Image of @Model.Comic.ComicName" />
                    }
                }
            </div>
            <div class="detail">
                <div>Description: @Model.Comic.ComicDesc</div>
                <div>Publishing Year: @Model.Comic.ComicYear</div>
                <div>Comic Price: @Model.Comic.ComicPrice</div>
                <a href="/Comic/DeleteConfirm/@Model.Comic.ComicId">Delete the comic</a>
                <a href="/Comic/Update/@Model.Comic.ComicId">Update the comic</a>
                <div>Reviews: </div>
                <div class="flexbox">
                    <div class="picture">
                        @{
                            foreach (var customer in Model.Customers)
                            {

                                if (customer.HasPic == 1)
                                {
                                    <img class="commentpic" src="../../Content/Customers/@(customer.CustomerId).@(customer.PicExtension)" alt="Image of @customer.CustomerName" />
                                }

                            }

                        }
                    </div>
                    <div class="detail">
                        @{
                            foreach (var review in Model.Reviews)
                            {
                                <div class="detail"> @review.ReviewContent</div>
                                <form id="removecomment" method="Post" action="/Comic/RemoveReview/@Model.Comic.ComicId">
                                    <input type="hidden" name="ComicId" id="ComicId" value="@Model.Comic.ComicId" />                                    
                                        <input type="hidden" name="ReviewId" id="ReviewId" value="@review.ReviewId" />
                                        <input type="submit" value="Remove" />                                    
                                </form>
                            }
                        }
                    </div>
                </div>
                <div>
                    <!--Adding review to a comic-->
                    <form method="Post" action="/Comic/AddReview/@Model.Comic.ComicId">
                        <input type="hidden" name="ComicId" id="ComicId" value="@Model.Comic.ComicId" />
                        <textarea name="ReviewContent" id="ReviewContent"></textarea>
                        <div>Adding comment as: 
                            <select id="CustomerId" name="CustomerId">
                                @{
                                    foreach (var customer in @Model.ddl_Customers)
                                    {
                                        <option value="@customer.CustomerId">@customer.CustomerName</option>
                                    }
                                }
                            </select>
                        </div>
                        <div><input type="submit" value="Add a review" /></div>
                    </form>
                    <!--Todo: Adding users-->
                </div>
            </div>
        </div>
    </div>
    <div id="ShowComicCategory">
        <div>Categories:</div>
        <div>
            @{
                
                foreach (var category in @Model.Categories)
                {
                   
                
                    <a href="/Category/Show/@category.CategoryId">@category.CategoryName</a>
                    //Remove the category
                    <form method="Post" action="/Comic/RemoveCategory/@Model.Comic.ComicId">
                        <input type="hidden" name="ComicId" id="ComicId" value="@Model.Comic.ComicId" />
                        <input type="hidden" name="CategoryId" id="CategoryId" value="@category.CategoryId" />
                        <input type="submit" value="Remove" />
                    </form>
                }
            }
        </div>
        <form method="POST" action="/Comic/AddCategory/@Model.Comic.ComicId">
            <input type="hidden" name="ComicId" id="ComicId" value="@Model.Comic.ComicId" />
            <select id="CategoryId" name="CategoryId">
            @{

                    foreach (var category in @Model.ddl_Categories)
                    {
                        <option value="@category.CategoryId">@category.CategoryName</option>
                    }
            }
            </select>
            <input type="submit" value="Add a category" />
            <div>Can't find the category? <a href="/Category/Add">Add a new category here</a></div>
        </form>
    </div>
</div>
<a href="/Comic/List">Back to list</a>




