@model ComicCorner.Models.ViewModels.ShowCustomer

@{
    ViewBag.Title = "Show";
}

<h2>Detail information about @Model.Customer.CustomerName</h2>
<div class="flexbox">
    <div class="picture">
        @{
            if (Model.Customer.HasPic == 1)
            {
                <img id="customerpicture" src="../../Content/Customers/@(Model.Customer.CustomerId).@(Model.Customer.PicExtension)" alt="Image of @Model.Customer.CustomerName" />
            }
        }
    </div>
    <div class="detail">
        <div>Name: @Model.Customer.CustomerName</div>
        <div>Address: @Model.Customer.CustomerAddress</div>
        <div>Email: @Model.Customer.CustomerEmail</div>
        <a href="/Customer/DeleteConfirm/@Model.Customer.CustomerId">Delete the customer</a>
        <a href="/Customer/Update/@Model.Customer.CustomerId">Update the customer</a>
    </div>
    <div class="showreview">
        <div>Recent Reviews: </div>
        <div class="flexbox">
            <div class="reviewcontent">
                
                @{
                    foreach (var review in @Model.Reviews)
                    {
                        <div>@review.ReviewContent</div>
                    }
                }
                
            </div>
            <div class="reviewcomic">
                
                @{
                    foreach (var comic in @Model.Comics)
                    {
                       <div><a href="/Comic/Show/@comic.ComicId">@comic.ComicName</a></div>
                    }
                }

            </div>
        </div>
        
    </div>
</div>


<!--To do: Add comments made by a person-->

